page-about {
  .rightbutton{
    position:absolute;
    right:20px;
    top:15px;

  }
  .card{
    background: #51a7e8;
    width: 100%;
  }
  .card_detail{
    padding-top: 15px;
    padding-bottom: 15px;
    color: #FFFFFF;
  }
  .teachImage{
    background: #FFFFFF;
    border-radius:50%;
  }
}
