page-multiple-publish
{
  //发布按钮
  .padding
  {
    height: 7%;
    width: 85%;
    position: fixed;
    bottom: 70px;
    left: 7%;
    background: #59B8E7;
    color: #FFFFFF;
    font-family: 黑体;
    -moz-border-radius:25px;
    border-radius: 25px;
    font-size: 18px;
  }

  .padding_red
  {
    height: 7%;
    width: 80%;
    background: rgba(255, 0, 13, 0.73);
    color: #FFFFFF;
    font-family: 黑体;
    -moz-border-radius:25px;
    margin-top: 10%;
    margin-left: 10%;
    border-radius: 25px;
    font-size: 18px;
  }

  //多选框
  .box
  {
    text-align: right;
  }

  //标题
  .title
  {
    font-size: 20px;;
  }

  //背景
  .back
  {
    background: #f8f8f8;
  }
}
