<!--
  Generated template for the QuaDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="ques">第{{ques.titleid}}题</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background: #f8f8f8;">
  <ion-item>
    <label>{{subtitle}}  </label>
  </ion-item>

  <ion-list inset>
    <label ion-text *ngIf="listDetailData">

      1、({{listDetailData[0].subjectKind}}) {{listDetailData[0].titleBody}}?<br>
      <ion-list>
        <button (click)="nextPage()">
          A、{{listDetailData[0].A}}<br>
        </button><br>

        <button (click)="nextPage()">
          B、{{listDetailData[0].B}}<br>
        </button><br>
        <button (click)="nextPage()">
          C、{{listDetailData[0].C}}<br>
        </button><br>
        <button (click)="nextPage()">
          D、{{listDetailData[0].D}}<br>
        </button><br>
      </ion-list>
      <div *ngIf="rightAnswer">正确答案:{{rightAnswer}}</div>
      <div *ngIf="stuAnswer">选择答案:{{stuAnswer}}<span *ngIf="rightAnswer==stuAnswer">正确</span><span *ngIf="rightAnswer!=stuAnswer">错误</span></div>
      <div *ngIf="analysis">解析：{{analysis}}</div>
    </label>
  </ion-list>
</ion-content>
