<!--
  Generated template for the StuPrePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{subItem.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <div class="testname">{{subItem.name}}</div>
    <div class="testnum">总计{{num}}题</div>
  </div>
  <section class="container">
    <div>
      <div class="progress">
        <span  class="blue" id="right"><span>正确</span></span>
      </div>
      <span>{{numRight}}题</span>
    </div>
    <div>
      <div class="progress">
        <span class="red" id="wrong"><span>错误</span></span>
      </div>
      <span>{{numWrong}}题</span>
    </div>
    <div>
      <div class="progress">
        <span id="null"><span>未做</span></span>
      </div>
      <span>{{num-numRight-numWrong}}题</span>
    </div>

    <!--<div *ngFor="let num of num ;let i = index;"class="num">-->
      <!--<div  *ngIf="IsInArray(i,numRight)" class="numRight"  (click)="itemTapped($event,num)" ><span class="num1">{{i}}</span></div>-->
      <!--<div  *ngIf="IsInArray(i,numWrong)" class="numNotRight"><span class="num1">{{i}}</span></div>-->
      <!--<div  *ngIf="!IsInArray(i,numRight)&&!IsInArray(i,numWrong)" class="numNull"><span class="num1">{{i}}</span></div>-->
    <!--</div>-->
    <div *ngFor="let qus of ques ;let i = index;"class="num">
      <div  *ngIf="IsInArray(qus.titleid,quesRight)" class="numRight"  (click)="itemTapped($event,qus,student)" ><span class="num1">{{i+1}}</span></div>
      <div  *ngIf="IsInArray(qus.titleid,quesWrong)" class="numNotRight" (click)="itemTapped($event,qus,student)"><span class="num1">{{i+1}}</span></div>
      <div  *ngIf="!IsInArray(qus.titleid,quesRight)&&!IsInArray(qus.titleid,quesWrong)" class="numNull" (click)="itemTapped($event,qus,student)"><span class="num1">{{i+1}}</span></div>
    </div>

  </section>
</ion-content>
