<ion-header>

  <ion-navbar>
    <ion-title>
      作业列表
    </ion-title>

    <ion-navbar>
      <ion-searchbar (ionInput)="getItems($event)"  [(ngModel)]='inpustring' style="width: 85%;">
      </ion-searchbar>
    </ion-navbar>

    <div class="rightbutton">
      <img src="../../assets/icon/Plus.png"  (click)="presentContactModal()" height="40" width="40">
    </div>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>

    <div style="position: fixed;z-index: 15;width: 80%; left: 10%" >
      <ion-searchbar  id="temp" (ionInput)="getItems($event)" style="width: 100%;" [ngModel]='inpustring ' > </ion-searchbar>
    </div>

    <br><br><br>
    <div *ngIf="inpustring!=''" style="position: absolute;z-index: 15;width: 100%;height: 100%;background-color: #fff;">
      <ion-list>
        <ion-item *ngFor="let item of items" (click)="selectQuestion($event,item)" >
          {{ item.name }}
        </ion-item>
      </ion-list>
    </div>

  </div>

  <ion-list inset>
    <div ion-item *ngFor="let item of listData;let i=index;" (click)="selectQuestion($event,item)">
      <img src="../../assets/icon/yuan.png"/>
      <span style="margin-left: 20px;">{{item.name}}</span>
      <img  src="../../assets/icon/you.png" style="width: 25px;float: right;"/>
    </div>

  </ion-list>
</ion-content>
