page-homework-modify {
  .padding
  {
    height: 10%;
    width: 80%;
    font-size: 18px;
    background: #59B8E7;
    color: #FFFFFF;
    font-family: 黑体;
    -moz-border-radius:25px;
    margin-top: 10%;
    margin-left: 10%;
    border-radius: 25px;
  }

}
