<!--
  Generated template for the SelectQuestionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>选择题目({{homeworkName}})</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding style="background: #f8f8f8;">

  <div class="list" align="left">
    选择题
    <button *ngIf="check==0" class="add" (click)="ionViewDidLoad(1)">
      +
    </button>
    <hr class="line"/>
    <button class="num"  align="center"  *ngFor="let X of xz" (click)="showDetailedQuestion(X.titleID,X.id)" >{{X.id}}</button>
  </div>

  <div class="list" align="left" style="margin-top: 60px;">
    填空题
    <button *ngIf="check==0" class="add" (click)="ionViewDidLoad(2)">
      +
    </button>
    <hr class="line"/>
    <button class="num"  align="center" *ngFor="let T of tk" (click)="showDetailedQuestion(T.titleID,T.id)">{{T.id}}</button>
  </div>

  <div class="list" align="left"  style="margin-top: 60px;">
    判断题
    <button *ngIf="check==0" class="add" (click)="ionViewDidLoad(3)">
      +
    </button>
    <hr class="line"/>
    <button class="num"  align="center" *ngFor="let P of pd" (click)="showDetailedQuestion(P.titleID,P.id)">{{P.id}}</button>
  </div>

  <div class="list" align="left"  style="margin-top: 60px;">
    解答题
    <button *ngIf="check==0" class="add" (click)="ionViewDidLoad(4)">
      +
    </button>
    <hr class="line"/>
    <button class="num"  align="center" *ngFor="let J of jd" (click)="showDetailedQuestion(J.titleID,J.id)">{{J.id}}</button>
  </div>

  <button *ngIf="check==0" class="padding"  align="center" (click)="publishHomeWork()"><b>下一步</b></button>
  <button class="padding_red"  align="center" (click)="deleteHomework()"><b>删除</b></button>

  <br>
  <br>

</ion-content>
