page-publish-homework
{
  .input1
  {
    border-radius: 10px;
    -moz-border-radius:10px;
    background: #ffffff;;
    border:1px solid #a1a1a1;
    width: 50%;
    height:50px;
  }

  .input-label
  {
    font-size: 30px;
    color:#2d2d2d;
    font-family:YouYuan ;
  }

  .padding button
  {
    width: 600px;
    height: 40px;
    background: #51a7e8;
    color: #FFFFFF;
    font-family: YouYuan;
    border-radius:25px;
    -moz-border-radius:25px;
    margin-top: 60px;
  }
}
