<!--
  Generated template for the PublishHomeworkPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>发布作业({{homeName.name}})</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding style="background: #f4f4f4;">
  <div>
    <ion-icon name="backspace" (click)="close()" style="font-size: 25px;position: absolute;z-index: 15;right: 45px;top: 25px;"></ion-icon>

    <ion-searchbar (ionInput)="getItems($event)" [(ngModel)]='inpustring'>

    </ion-searchbar>
    <div *ngIf="inpustring!=''" style="position: absolute;z-index: 15;width: 100%;height: 100%;background-color: #fff;">
      <ion-list >
        <ion-item *ngFor="let item of items" (click)="itemSelectedchild($event,item.id)" >
          {{ item.cname }}
        </ion-item>
      </ion-list>
    </div>

  </div>
  <!--<ion-searchbar  [formControl]="titleFilter"></ion-searchbar>-->

  <div>
    <button  ion-item *ngFor="let item of listData;let i=index;" (click)="selectQuestion($event,item)">
      <img src="assets/icon/yuan.png"/>
      <span style="margin-left: 20px;font-size: 20px" >{{item.cname}}</span>
      <img  src="assets/icon/you.png" style="width: 25px;float: right;"/>
    </button>
  </div>>

</ion-content>
