<!--
  Generated template for the EditQuestionPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title style="font-size: 22px">第 {{id}} 题</ion-title>
  </ion-navbar>

</ion-header>

<<ion-content padding style="background: #f8f8f8;">
  <div class="list" align="left"  *ngFor="let que of question" style="font-size: 20px">
    <br>
    <span [innerHTML]="que.question"></span>
    <br>
    <br>

    <!--选择题-->
    <div class="selekuang" *ngIf="kind==1"><button>A</button><div *ngIf="kind==1" class="selecdiv" [innerHTML]="que.A"></div></div>
    <div class="selekuang" *ngIf="kind==1"><button>B</button><div *ngIf="kind==1" class="selecdiv" [innerHTML]="que.B"></div></div>
    <div class="selekuang" *ngIf="kind==1"><button>C</button><div *ngIf="kind==1" class="selecdiv" [innerHTML]="que.C"></div></div>
    <div class="selekuang" *ngIf="kind==1"><button>D</button><div *ngIf="kind==1" class="selecdiv" [innerHTML]="que.D"></div></div>
    <div class="selekuang" *ngIf="kind==1"><button>答</button><div *ngIf="kind==1" class="selecdiv" [innerHTML]="que.answer"></div></div>

    <!--非选择题-->
    <div class="blank" align="left"  *ngIf="kind==0">
      &nbsp;&nbsp;答案： <span [innerHTML]="que.answer"></span>
    </div>
  </div>

</ion-content>
