page-detailed-question
{
  .selekuang
  {
    border: solid 1px #aeaeae;
    /* height: 30px; */
    border-radius: 18px;
    position: relative;
    text-align: left;
    margin-top: 10px;
    button
    {
      width: 30px;
      height: 30px;
      background-color: #aeaeae;
      border-radius: 15px;
    }
  }

  .selekuang.panduan
  {
    font-size: 30px;
    width: 160px;
    margin: 10px;
    display: inline-block;
  }

  .selecdiv
  {
    display: inline-block;
  }

  .selectclass.selekuang
  {
    border: solid 1px #488aff;
    // color: #488aff;
    button {
      background-color: #488aff;
      color: #fff;
    }
    ion-icon {
      color: #488aff;
    }
  }

  .padding_red
  {
    height: 6%;
    width: 80%;
    background: rgba(255, 0, 13, 0.73);
    color: #FFFFFF;
    font-family: 黑体;
    -moz-border-radius:25px;
    margin-top: 10%;
    margin-left: 10%;
    border-radius: 25px;
  }
}
