<ion-header>

  <ion-navbar>
    <ion-title style="font-size: 22px" text-center>{{student.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="back">

  <div class="ltitle">
    <b class="dian">·</b>
    专项练习
  </div>

  <ion-row class="card" padding-left="100px">
    <!--<div  #container1 class="div-charts"></div>-->
    <ion-col *ngFor="let prac of practice;let i = index;">
      <div><b>{{prac.name}}</b></div>
      <div id="pie{{i}}" class="div-charts" (click)="itemTapped($event, tests[2],student)"></div>
    </ion-col>

  </ion-row>
  <!--<div class="card">-->
    <!--&lt;!&ndash;<div  #container1 class="div-charts"></div>&ndash;&gt;-->
    <!--<div class="left">-->
      <!--<div>{{tests[0].name}}：<b>{{tests[0].num}}</b></div>-->
      <!--<div #container2 class="div-charts" (click)="itemTapped1($event, tests[0],student)"></div>-->
    <!--</div>-->
    <!--<div class="right">-->
       <!--<div>{{tests[1].name}}：<b>{{tests[1].num}}</b></div>-->
  <!--<div #container1 class="div-charts" (click)="itemTapped1($event, tests[1],student)"></div>-->
    <!--</div>-->
  <!--</div>-->

  <div class="ltitle">
    <b class="dian">·</b>
    试卷
  </div>
  <ion-row class="card" padding-left="100px">




  </ion-row>

  <div class="ltitle">
    <b class="dian">·</b>
    作业
  </div>
  <ion-row class="card" padding-left="100px">

    <ion-col *ngFor="let home of homework;let i = index;">
      <div >{{home.name}}</div>
      <div id="chart{{i}}" class="div-charts2" (click)="itemTapped2($event, tests[2],student,home)"></div>
    </ion-col>



  </ion-row>


</ion-content>
